@(endereco: EnderecoPagamento)(convenios: List[Convenio])
@title = {Olho no Orçamento} 

@content = {
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="box" align="center">
			<h2>Endereço do Pagamento: @endereco.getEnderecoAjustado</h2>
				<iframe src="@routes.MapController.showMapEndereco(endereco.getCep())" width="100%" height="300px"></iframe><br>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="box" align="center">
			<h2>Os pagamentos a este endereço são relacionados aos seguintes convênios</h2>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		@for(convenio <- convenios) {
		<div class="col-md-6">
			<div class="box">
				<h2>Pagador: @convenio.getNomeOrgaoConcedente</h2>
				<h2>Executor: @convenio.getNomeProponente()</h2>
				<b>Situação:</b> @convenio.getSituacao()
				<br><b>Endereço do Executor:</b> @convenio.getEnderecoProponente()
				<br><b>Data de início:</b> @models.util.DateUtil.getFormattedDate(convenio.getDataInicioVigencia())
				<br><b>Data fim:</b> @models.util.DateUtil.getFormattedDate(convenio.getDataFimVigencia())
				<br><b>Modalidade:</b> @convenio.getModalidade()
				<br><b>Objeto:</b> @convenio.getObjeto()...
				<br><b>Justificativa:</b> @convenio.getJustificativa()...
				<br><b>Quantidade de Aditivos:</b> @convenio.getQtdAditivos()
				<br><b>Quantidade de Prorrogações:</b> @convenio.getQtdProrrogacao()
				<br><b>Valor Global:</b> R$ @util.Formatador.getDoubleAsMoney( convenio.getValorGlobal() ) 
				<br><b>Valor Repassado pelo Governo Federal: </b>  R$ @util.Formatador.getDoubleAsMoney( convenio.getValorRepasse() )
				<br><b><a href="https://www.convenios.gov.br/siconv/ConsultarProposta/ResultadoDaConsultaDeConvenioSelecionarConvenio.do?sequencialConvenio=@convenio.getNumConvenio()&Usr=guest&Pwd=guest" target="_blank">Acesse a Página Oficial do Convenio</a></b>
				<table data-toggle="table" data-page-size="5" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-cache="false">
				    <thead>
				        <tr>
				            <th>Natureza</th>
				            <th>Tipo</th>
				            <th>Situação</th>
				            <th>Valor Total</th>
				            <th>Endereço</th>
				        </tr>
				    </thead>
				    <tbody>
				    	@for(item <- convenio.getPagamentos()) {
				    	<tr>
				    		<td>@item.getNomeNaturezaDespesa()</td>
				    		<td>@item.getTipoDespesa()</td>
				    		<td>@item.getSituacao()</td>
				    		<td>R$ @util.Formatador.getDoubleAsMoney( item.getValorTotal() )</td>
				    		<td>@item.getEndereco()</td>
				    	</tr>
				    	}
				    </tbody>
				</table>
				<div class="pull-right">
					Viu ou sabe de algo suspeito? <button type="button" class="btn btn-danger btn-sm" onclick="denuncie()">Denuncie!</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		}
	</div>
</div>
<!--END PROFILE-->

<script>
function denuncie(){
	alert("Todas as denúncias serão encaminhadas aos orgãos competentes. Porém esta funcionalidade ainda não foi implementada.");
}
</script>

}

@menuesquerda(title)(content)