@(title: Html)(content: Html)
<!DOCTYPE html>
<html lang="br">
	<head>
		<title>@title</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" sizes="30x30" type="image/png" href="@routes.Assets.at("images/ico-mcn.png")">
		
		<meta name="description" content="Acompanhe e ajude a fiscalizar os gastos do governo federal. Entre e saiba como!">
		<meta name="keywords" content="Governo Federal, combate a corrupção, combate a lavagem de dinheiro, gastos públicos, ministério da justiça">
		<meta name="author" content="Kellyton Brito">
		
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-table.min.css")">
		<!-- jQuery library -->
		<script src="@routes.Assets.at("js/jquery.min.js")"></script>
		<script src="@routes.Assets.at("js/jquery.knob.js")"></script>
		<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap/js/bootstrap-table.min.js")"></script>
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.min.js"></script> -->
		<!-- END BOOTSTRAP -->
		<!-- pt-BR -->
		<script src="@routes.Assets.at("js/bootstrap-table-pt-BR.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
		<link rel="stylesheet" href="@routes.Assets.at("css/colors.css")">
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-social.css")">
	</head>
	<body>
		@navbartop()
		
		<div class="wrapper">
			@content
			@* @comentarios() *@
			<div id="push"></div>
		</div>
		
		@footer()
	</body>

<script>	
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
        $(this).collapse('hide');
    }
});
</script>
</html>