@(municipio: Municipio)(enderecos: List[EnderecoPagamento])
<!DOCTYPE html>
<html>
  <head>
    <title>Locais que receberam verbas em @municipio.getNomeMunicipio - @municipio.getSiglaEstado()</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%; margin: 0; padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    
<script>
function initMap() {
	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 13,
	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	  center: {lat: @municipio.getLatitude(), lng: @municipio.getLongitude()}
	});
	var geocoder = new google.maps.Geocoder();
	
	if (navigator.geolocation) {
	     navigator.geolocation.getCurrentPosition(function (position) {
	         userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	         
			var meuLocal = new google.maps.Marker({
				position: userLocation,
				map: map,
				title:"Você está aqui!",
				icon:"@routes.Assets.at("img/iconperson5.png")"
			});
	         
	     });
	 }
	
	@for((item, index) <- enderecos.zipWithIndex){
		var marker@index = new google.maps.Marker({
			position: new google.maps.LatLng(@item.getLatitude(), @item.getLongitude()),
			map: map,
			title:"@item.getEndereco() + R$ @util.Formatador.getDoubleAsMoney( item.getTotal() )"
		});
	
		google.maps.event.addListener(marker@index, 'click', function() {
			infowindow.setContent(						 
				 '<p><b>Total Recebido: R$ @util.Formatador.getDoubleAsMoney(item.getTotal())</b><br>'+
				 'Endereço: @item.getEndereco()<br>'+
				 '<a href="@routes.Application.showDetalhes(item.getCep())" target="_top">Mais Informações</a></p>'
			)
			infowindow.open(map, marker@index);
		});
	}
	
	var infowindow = new google.maps.InfoWindow({
	});
	
	directionsDisplay = new google.maps.DirectionsRenderer();
	directionsDisplay.setMap(map);
	
}



</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTL1ND473lcA85N1LXOkGErd6HQquQzVw&signed_in=true&callback=initMap"
        async defer></script>
  </body>
</html>