@(item: EnderecoPagamento)
<!DOCTYPE html>
<html>
  <head>
    <title>Localização de repasse de verba: @item.getEnderecoAjustado(), CEP: @item.getCep()</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%; margin: 0; padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    
<script>
var directionsService;
var userLocation;

function initMap() {
	directionsService = new google.maps.DirectionsService();
	
	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 13,
	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	  center: {lat: @item.getLatitude(), lng: @item.getLongitude()}
	});
	var geocoder = new google.maps.Geocoder();
	
	if (navigator.geolocation) {
	     navigator.geolocation.getCurrentPosition(function (position) {
	         userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	         
			var meuLocal = new google.maps.Marker({
				position: userLocation,
				map: map,
				title:"Você está aqui!",
				icon:"@routes.Assets.at("img/iconperson5.png")"
			});
			
			calcRoute(@item.getLatitude(), @item.getLongitude());
	         
	     });
	 }
	
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(@item.getLatitude(), @item.getLongitude()),
		map: map,
		title:"@item.getEndereco() + R$ @util.Formatador.getDoubleAsMoney( item.getTotal() )"
	});

	google.maps.event.addListener(marker, 'click', function() {
		infowindow.setContent(						 
			 '<p><b>@item.getTotal()</b><br>'+
			 'Endereço: @item.getEndereco()<br>'
		)
		infowindow.open(map, marker);
		calcRoute(@item.getLatitude(), @item.getLongitude());
	});
	
	var infowindow = new google.maps.InfoWindow({
	});
	
	directionsDisplay = new google.maps.DirectionsRenderer();
	directionsDisplay.setMap(map);
	
}

function calcRoute(lat,lgt) {
	  var start = userLocation;
	  var end = new google.maps.LatLng(lat,lgt);
	  
	  var request = {
	      origin:start,
	      destination:end,
	      travelMode: google.maps.TravelMode.DRIVING
	  };
	  directionsService.route(request, function(response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(response);
	    }
	  });
}


</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTL1ND473lcA85N1LXOkGErd6HQquQzVw&signed_in=true&callback=initMap"
        async defer></script>
  </body>
</html>